/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/*===== Variables CSS =====*/
:root {
    --header-height: 3rem;
    --font-medium: 500;
}

/*===== Colors =====*/
:root {
  --first-color: #5361FF;
  --white-color: #FAFAFF;
  --dark-color: #2A3B47;
  --text-color: #697477;
}

/*===== Font and tipografy =====*/
:root {
  --body-font: 'Montserrat', sans-serif;
  --big-font-size: 6.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}
