/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/*===== Variables CSS =====*/
:root {
    --header-height: 3rem;
    --font-medium: 500;
}

/*===== Colors =====*/
:root {
  --first-color: #5361FF;
  --white-color: #FAFAFF;
  --dark-color: #2A3B47;
  --text-color: #697477;
}

/*===== Font and tipografy =====*/
:root {
  --body-font: 'Montserrat', sans-serif;
  --big-font-size: 6.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}

@media screen and (min-width: 768px) {
  :root {
      --big-font-size: 10.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
  }
}

/*===== Margins =====*/
:root {
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/
:root {
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  background: inherit;
  border-radius: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section {
  padding: 3rem 0;
}

.sectionTitle {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0;
  text-align: center;
}

.sectionTitle::after{
  position: absolute;
  content: "";
  width: 32px;
  height: .18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

/*===== LAYOUT =====*/
.layoutGrid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}
